body {
  margin: 0;
  padding: 0;
  background-image: url('dunya-atom.png'); /* Arka plan görseli */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: Arial, sans-serif;
  color: #fff; /* Yazıların net görünmesi için beyaz renk */
  min-height: 100vh; /* Sayfa yüksekliğini tarayıcı penceresine göre ayarla */
  background-attachment: fixed; /* Arka planı sabitler, kaydırma ile hareket etmez */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* %50 siyah yarı saydam katman */
  z-index: -1; /* Bu katmanın yazıların arkasında kalmasını sağlar */
}



/* Yazıların opaklığı etkilenmez */
h1, p {
  z-index: 1; /* Yazılar katmanın üstünde kalır */
  position: relative; /* Yazıları katmandan ayırır */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Yazılara gölge ekleyin, daha belirgin olur */
}

.custom-link {
    color: #1E90FF; /* Lime Green rengi */
}

/* Masaüstü için yazı boyutu */
nav ul li a {
    font-size: 18px;
}

/* Tabletler için (768px'den küçük ekranlar) */
@media (max-width: 768px) {
    nav ul li a {
        font-size: 14px !important;
        padding: 8px 12px !important;
    }
    
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }
    
}




/* 480px ve daha küçük ekranlar için menüyü en başa sabitleme */
@media (max-width: 480px) {
    nav {
        position: fixed; /* Menü sabitlenir */
        top: 0; /* Sayfanın en üstüne yerleşir */
        left: 0;
        width: 100%; /* Tam genişlikte */
        z-index: 1000; /* Diğer içeriklerin üstünde */
        background-color:  #1E90FF; /* Arka plan rengi */
    }

    /* Sayfa içeriğinin menünün altından başlaması için boşluk bırak */
    body {
        margin-top: 60px; /* Menünün yüksekliği kadar boşluk bırak */
    }

    /* Menü elemanlarını dikey hizala */
    nav ul {
        display: flex;
        flex-direction: column; /* Dikey hizalama */
        margin: 0;
        padding: 0;
        align-items: flex-start; /* Elemanları sola hizala, ortada olmasın */
    }

    nav ul li {
        margin: 5px 0; /* Menü elemanları arasındaki boşluk */
    }

    nav ul li a {
        padding: 10px 15px;
        display: block;
        color: #fff;
        text-decoration: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%; /* Tüm genişliği kaplasın */
        text-align: left; /* Metni sola hizala */
    }

    nav ul li a:hover {
        background-color: #444; /* Hover efekti */
    }
}






